@import url("https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;700&display=swap");

/* @link https://utopia.fyi/type/calculator?c=320,16,1.125,1240,20,1.2,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */

/* The most important lines are the final few, where we surface our three fluid scale steps: --fluid-0, --fluid-1 and --fluid-2. */

/* colours */
:root {
  /* primary colours */
  --c-orange-500: hsl(26, 100%, 55%);
  --c-orange-100: hsl(25, 100%, 94%);

  /* neutral */
  --c-white: hsl(0, 0%, 100%);
  --c-black-opacity: rgba(0, 0, 0, 0.75);
  --c-blue-700: hsl(220, 13%, 13%);
  --c-blue-600: hsl(219, 9%, 45%);
  --c-blue-500: hsl(220, 14%, 75%);
  --c-blue-100: hsl(223, 64%, 98%);
}

/* typography */
:root {
  --fs: 16px;
  --ff: "Kumbh Sans", sans-serif;
  --br-value: 10px;
}

/*
  Josh Comeau CSS Reset 
*/

/* 
  1. Use a more intuitive box-sizing model
*/

*,
*::before,
*::after {
  box-sizing: border-box;
}

/*
  2. Remove default margin
*/

* {
  margin: 0;
}

/*
  3. Allow percentage-based heights in the application
*/
html,
body {
  height: 100%;
}

/*
  Typographic tweaks!
  4. Add accessible line-height
  5. Improve text rendering
*/
body {
  line-height: 1.333;
  -webkit-font-smoothing: antialiased;
}

/*
  6. Improve media defaults
*/
img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

/*
  7. Remove built-in form typography styles
*/
input,
button,
textarea,
select {
  font: inherit;
}

/*
  8. Avoid text overflows
*/
p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

/* 
  9. list
*/
ul {
  list-style-type: none;
  padding: unset;
}

/* 
  10. clickable object
*/
button {
  cursor: pointer;
}

/* 
  11. svg
*/
svg {
  stroke: currentColor;
}

/* 
  12. link
*/

a {
  /* Typography */
  text-decoration: none;
  /* Colors */
  color: inherit;
  cursor: pointer;
}

/* 
  Start General Styling here
*/

body {
  /* 22 -> 150 */
  font-size: var(--fs);
  font-family: var(--ff);
  max-width: 1150px;
  margin-inline: auto;
}

h3 {
  font-size: var(--step-3);
}

h2 {
  font-size: var(--step-4);
}

h1 {
  font-size: var(--step-5);
}

hr {
  margin-block: 1rem;
}

/* 
utility
*/

.grid {
  display: grid;
  gap: 1.875em;
  padding-bottom: 5rem;
}

/* 
  Components styling
*/

/* BUTTONS */
.btns {
  display: grid;
  gap: 1em;
}

.btn {
  --opacity: 0.5;
  --br: var(--br-value);
  width: 100%;
  padding-block: 1em;
  /* 24px -> 1.5em */
  padding-inline: 1.5em;
  font-weight: bold;
  border: none;
  border-radius: var(--br);
}

.btn--primary {
  background-color: var(--c-orange-500);
  color: var(--c-white);
}

.btn--primary:hover {
  opacity: var(--opacity);
  box-shadow: 0 5px 5px var(--c-orange-100);
}

.btn--icon {
  display: flex;
  gap: 0.875em;
  justify-content: center;
  align-items: center;
}

.btn--secondary {
  background-color: var(--c-blue-100);
  color: var(--c-blue-700);
}

.btn--numbered {
  display: grid;
  grid-template-columns: 15px auto 15px;
  align-items: center;
  position: relative;
  text-align: center;
  user-select: none;
}

.btn--numbered__minus,
.btn--numbered__plus {
  cursor: pointer;
}

.btn--numbered__minus:hover,
.btn--numbered__plus:hover {
  opacity: var(--opacity);
}

/* header */

.header--desktop {
  display: none;
}

@media (width >= 780px) {
  .header--desktop {
    display: block;
  }

  .header--mobile {
    display: none;
  }
}

.nav {
  --profile-icon-width: 3.25em;
  --nav-space-inline: 1.375rem;
  --nav-max-width: 72rem;
  --logo-height: 0.9375em;
  --list-item-gap: 1.875rem;

  display: flex;
  max-width: 1130px;
  margin-inline: auto;
  padding-inline: var(--nav-space-inline);

  height: clamp(
    66px,
    calc(66px + (115 - 66) * ((100vw - 375px) / (780 - 375))),
    115px
  );
}

.nav--mobile {
  --menu-btn-space-right: 0.9125em;
  ---cart-profile-space: 1.375em;
  --list-item-fs: 1.125rem;
}

.nav--desktop {
  --logo-space-right: 3.25em;
  ---cart-profile-space: 1.5em;
  --list-item-fs: 0.9375rem;
}

.nav__logo {
  height: var(--logo-height);
  margin-right: var(--logo-space-right);
  align-self: center;
}

.nav__menu-btn {
  margin-right: var(--menu-btn-space-right);
  align-self: center;
}

.nav__list > * > a {
  text-transform: capitalize;
  color: var(--c-blue-600);
}

.nav__list > *:hover > a {
  color: var(--c-blue-700);
}

.nav__list--desktop {
  display: flex;
  font-size: var(--list-item-fs);
}

.nav__list--desktop > * {
  display: grid;
  place-items: center;
  position: relative;
}

.nav__list--desktop > *::after {
  content: "";
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 4px;
  background-color: transparent;
}

.nav__list--desktop > *:hover::after {
  background-color: var(--c-orange-500);
}

.nav__list--desktop > * + * {
  margin-inline-start: var(--list-item-gap);
}

.nav__list--mobile > * > a {
  font-size: var(--list-item-fs);
  font-weight: bold;
  color: var(--c-blue-700);
}

.nav__list--mobile > * + * {
  margin-top: var(--list-item-gap);
}

.nav__cart-icon-container {
  position: relative;
  margin-left: auto;
  margin-right: var(---cart-profile-space);
  align-self: center;
  cursor: pointer;
}

.nav__cart-indicator {
  position: absolute;
  top: -10px;
  right: -10px;
  font-size: 0.75em;
  background-color: var(--c-orange-500);
  color: var(--c-white);
  padding-inline: 7.5px;
  border-radius: 10px;
}

.nav__profile-icon {
  width: var(--profile-icon-width);
  height: var(--profile-icon-width);
  align-self: center;
  border-radius: 50%;
}

.nav__profile-icon:hover {
  outline: 2px solid var(--c-orange-500);
}

.overlay {
  position: fixed;
  inset: 0;
  background-color: var(--c-black-opacity);
  z-index: 10;
  display: none;
}

.side-menu {
  --w: 16rem;
  --space: 1.375rem;
  position: fixed;
  top: 0;
  left: 0;
  width: var(--w);
  max-width: var(--w);
  background-color: var(--c-white);
  padding-left: var(--space);
  padding-top: var(--space);
  height: 100%;
  z-index: 100;
  transform: translateX(-100%);
  --webkit-transform: translateX(-100%);
  will-change: transform;
  pointer-events: auto;
}

.side-nav--visible .side-menu {
  -webkit-transform: none;
  transform: none;
}

.side-nav--animatable .side-menu {
  transition: all 130ms ease-in;
}

.side-nav--visible.side-nav--animatable .side-menu {
  transition: all 330ms ease-out;
}

.side-nav--visible .overlay {
  display: block;
}

/* .show .side-menu {
  transform: translateX(0);
  transition: transform 150ms;
  will-change: transform;
} */

.small-btn {
  --w: 1rem;
  border: none;
  width: var(--w);
  height: var(--w);
  margin-bottom: 3.25em;
}

.close-btn {
  --w: 1rem;
  border: none;
  width: var(--w);
  height: var(--w);
  background: url(./images/icon-close.svg);
  background-repeat: no-repeat;
  background-position: center;
  margin-bottom: 3.25em;
}

.delete-btn {
  background: url(./images/icon-delete.svg);
  background-repeat: no-repeat;
  background-position: center;
}

/* end of navigation */

/* product display section */
/* product image btns */
.product-display-section__btn {
  --w: 2.5em;
  --space: 1em;
  display: grid;
  place-items: center;
  position: absolute;
  top: 50%;
  width: var(--w);
  height: var(--w);
  background-color: var(--c-white);
  border-radius: 50%;
  border: hidden;
  transform: translateY(-50%);
}

.product-display-section__btn--left {
  left: var(--space);
}

.product-display-section__btn--left > img {
  position: relative;
  left: -2.5px;
}

.product-display-section__btn--right {
  right: var(--space);
}

.product-display-section__large-product-img {
  border-radius: var(--br);
  width: 100%;
  aspect-ratio: 1 / 0.9;
  object-fit: cover;
}

.product-display-section__thumbnails {
  --box-number: 4;
  display: none;
  grid-template-columns: repeat(var(--box-number), 1fr);
  gap: 1rem;
}

.product-display-section__thumbnails > * {
  aspect-ratio: 1;
  width: 100%;
  border-radius: var(--br);
}

/* split */

.right-section {
  --inline-space: 1.5rem;
  --company-name-fs: 0.8125rem;
  --product-name-fs: clamp(
    28px,
    calc(28px + (44 - 28) * ((100vw - 375px) / (960 - 375))),
    44px
  );
  --product-text-space-bottom: clamp(
    28px,
    calc(28px + (38 - 28) * ((100vw - 375px) / (960 - 375))),
    38px
  );
  display: grid;
  padding-inline: var(--inline-space);
  font-weight: bold;
}

.right-section__company-name {
  text-transform: uppercase;
  color: var(--c-orange-500);
  font-size: var(--company-name-fs);
  letter-spacing: 2px;
}

.right-section__product-name,
.right-section__price-tag {
  color: var(--c-blue-700);
}

.right-section__product-name {
  line-height: 1.175;
  margin-block-start: 1rem;
  margin-block-end: 1.25rem;
  text-transform: capitalize;
}

.right-section__product-description {
  color: var(--c-blue-600);
  font-weight: normal;
  line-height: 2;
  margin-block-end: var(--product-text-space-bottom);
  /* max-inline-size: 70ch); */
  text-wrap: balance;
}

.right-section__product-name,
.right-section__price-tag {
  font-size: var(--product-name-fs);
  font-weight: bold;
}

.right-section__price {
  display: grid;
  grid-template-columns: auto 20%;
  margin-block-end: 1.6875rem;
  align-items: center;
}

.right-section__discount-chip {
  background-color: var(--c-orange-100);
  color: var(--c-orange-500);
  border-radius: 4px;
  padding: 4px 8px;
  margin-inline-start: 1rem;
}

.right-section__original-price {
  color: var(--c-blue-500);
  text-decoration: line-through;
}

@media screen and (width >= 37.5rem) {
  .btns {
    grid-template-columns: 30% auto;
  }

  .right-section__price {
    grid-template-columns: auto;
    grid-template-rows: 1fr 1fr;
  }
}

@media screen and (width >= 60rem) {
  .header--desktop {
    border-bottom: 2px solid var(--c-blue-100);
  }

  .grid {
    padding-bottom: unset;
    margin-top: 5.3125rem;
    gap: clamp(
      4rem,
      calc(64px + (120 - 64) * ((100vw - 960px) / (1440 - 960))),
      7.5rem
    );
    padding-inline: clamp(
      2rem,
      calc(32px + (49 - 32) * ((100vw - 960px) / (1440 - 960))),
      3.0625rem
    );
  }

  .grid--2up {
    grid-template-columns: 1fr 1fr;
  }

  .btns {
    grid-template-columns: 37% auto;
  }

  .product-display-section__thumbnails {
    display: grid;
  }

  .product-display-section {
    --br: var(--br-value);
    --gap: 2rem;
    display: grid;
    grid-template-rows: auto 1fr;
    align-items: end;
    gap: var(--gap);
  }

  .right-section {
    display: block;
    align-self: center;
    padding-inline: 0;
  }

  .right-section__product-description {
    max-inline-size: 45ch;
    text-wrap: balance;
  }
}

.img-container {
  position: relative;
}

.lightbox-gallery .product-display-section__btn {
  --space: -1.25em;
}

.lightbox-gallery__overlay {
  position: fixed;
  inset: 0;
  background-color: var(--c-black-opacity);
}

.lightbox-gallery .close-btn {
  background: url(./images/icon-close--lightbox.svg);
  background-repeat: no-repeat;
  margin-bottom: 0;
  position: absolute;
  right: 0;
  top: -30px;
}

.lightbox-gallery .close-btn:hover {
  background: url(./images/icon-close--active.svg);
  background-repeat: no-repeat;
}

.lightbox-gallery .product-display-section {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 34rem;
}

.lightbox-gallery .large-product-img-container {
  aspect-ratio: 1;
}

.lightbox-gallery .large-product-img-container > img {
  height: 100%;
}

.cart {
  --space: 1.375rem;
  margin: 1rem;
  border-radius: var(--br-value);
  box-shadow: 0 0 10px var(--c-blue-700);
}

.cart__title-container {
  padding-block-start: 1.375rem;
  padding-block-end: 1.6875rem;
  border-bottom: 2px solid var(--c-blue-100);
}

.cart__title {
  color: var(--c-blue-700);
  padding-inline: 1rem;
  font-weight: bold;
}

.cart__items {
  padding-block-start: 1.375rem;
  padding-block-end: 2rem;
  padding-inline: var(--space);
  min-height: 180px;
}

.cart__item {
  --col: 3;
  --gap: 0.9375rem;
  display: grid;
  font-size: 0.9375rem;
  color: var(--c-blue-600);
  gap: var(--gap);
  grid-template-columns: 49px auto 15px;
  align-items: center;
}

.item__thumbnail {
  border-radius: var(--br-value);
}

.item__total-price {
  color: var(--c-blue-700);

  font-weight: bold;
}

.delete-btn {
  margin-bottom: 0;
}

.cart__checkout-btn {
  margin-block-start: 1.5625rem;
}

@media (prefers-reduce-motion: reduce) {
}
